@charset "utf-8";
/* CSS Document */
.giant-screen {
	position: absolute;
	top: -100%;
	left: 0;
	z-index: 99;
	width: 100%;
	min-height: calc(100% - 80px);
	transition: all 3s;
}
.giant-screen-show { top: 80px; }
.giant-screen:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	min-height: 100%;
	background: url(../../images/common/dhc.png) no-repeat left bottom;
	content: '';
	transition: all 3s;
}
.giant-screen-show:after { width: 100%; }
.giant-screen-content {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	text-align: center;
}
.giant-screen-show .giant-screen-content {
	animation: iconMove 3s linear 1;
	-webkit-animation: iconMove 3s linear 1;
}
.giant-screen-icon {
	position: relative;
	display: inline-block;
	margin: 0 25px;
	border-radius: 50%;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.giant-screen-icon a {
	position: absolute;
	top: 220px;
	left: 0;
	width: 200px;
	color: #fff;
}
.giant-screen-icon span {
	position: relative;
	display: block;
	width: 200px;
	height: 200px;
	border: solid 1px #fff;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
}
.giant-screen-icon span:after {
	position: absolute;
	content: "";
	transform: rotate(0);
	transition: all 2s;
}
.giant-screen-icon span:hover:after { transform: rotate(360deg); }
.giant-screen-icon:nth-child(1) span:after {
	top: 46px;
	left: 46px;
	height: 108px;
	width: 108px;
	background: url(../../images/common/screenIcon.png) -208px -0px no-repeat;
}
.giant-screen-icon:nth-child(2) span:after {
	top: 46px;
	left: 46px;
	height: 108px;
	width: 108px;
	background: url(../../images/common/screenIcon.png) -100px 0 no-repeat;
}
.giant-screen-icon:nth-child(3) span:after {
	top: 46px;
	left: 50px;
	height: 108px;
	width: 100px;
	background: url(../../images/common/screenIcon.png) 0 0 no-repeat;
}
.giant-screen-icon:nth-child(4) span:after {
	top: 46px;
	left: 43px;
	height: 107px;
	width: 113px;
	background: url(../../images/common/screenIcon.png) -316px 0 no-repeat;
}
.giant-screen-icon:nth-child(5) span:after {
	top: 52px;
	left: 56px;
	height: 95px;
	width: 88px;
	background: url(../../images/common/screenIcon.png) -429px 0 no-repeat;
}
@keyframes iconMove { from {
margin-top:-50%;
}
to { margin-top: 5%; }
}
@-webkit-keyframes iconMove { from {
margin-top:-50%;
}
to { margin-top: 5%; }
}
