@charset "utf-8";
/** 全局样式 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
header,
menu,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
select,
table,
th,
td,
img,
span,
strong,
u,
i,
b,
em {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-size: 14px;
	color: #3f3f3f;
	text-decoration: none;
	outline-style: none;
	list-style: none;
	resize: none;
	word-wrap: break-word;
	font-family: "微软雅黑", "Microsoft Yahei", "simsun";
}
html { position: relative; }
html,
body { height: 100%; }
a {
	color: #3f3f3f;
	text-decoration: none;
	outline: none;
}
img { vertical-align: middle; }
/*填充*/
.m-a {
	margin-left: auto;
	margin-right: auto;
}
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-20 { margin-left: 20px !important; }
.p-5 { padding: 5px !important; }
/*浮动*/
.clear { clear: both !important; }
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.left {
	display: block;
	float: left !important;
}
.right {
	display: block;
	float: right !important;
}
/*布局*/
.row {
	clear: both;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	box-sizing: border-box;
	padding: 10px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 { float: left }
.col-xs-12 { width: 100% }
.col-xs-11 { width: 91.66666667% }
.col-xs-10 { width: 83.33333333% }
.col-xs-9 { width: 75% }
.col-xs-8 { width: 66.66666667% }
.col-xs-7 { width: 58.33333333% }
.col-xs-6 { width: 50% }
.col-xs-5 { width: 41.66666667% }
.col-xs-4 { width: 33.33333333% }
.col-xs-3 { width: 25% }
.col-xs-2 { width: 16.66666667% }
.col-xs-1 { width: 8.33333333% }
 @media (min-width: 768px) {
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 { float: left }
.col-sm-12 { width: 100% }
.col-sm-11 { width: 91.66666667% }
.col-sm-10 { width: 83.33333333% }
.col-sm-9 { width: 75% }
.col-sm-8 { width: 66.66666667% }
.col-sm-7 { width: 58.33333333% }
.col-sm-6 { width: 50% }
.col-sm-5 { width: 41.66666667% }
.col-sm-4 { width: 33.33333333% }
.col-sm-3 { width: 25% }
.col-sm-2 { width: 16.66666667% }
.col-sm-1 { width: 8.33333333% }
}
 @media (min-width: 992px) {
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 { float: left }
.col-md-12 { width: 100% }
.col-md-11 { width: 91.66666667% }
.col-md-10 { width: 83.33333333% }
.col-md-9 { width: 75% }
.col-md-8 { width: 66.66666667% }
.col-md-7 { width: 58.33333333% }
.col-md-6 { width: 50% }
.col-md-5 { width: 41.66666667% }
.col-md-4 { width: 33.33333333% }
.col-md-3 { width: 25% }
.col-md-2 { width: 16.66666667% }
.col-md-1 { width: 8.33333333% }
}
 @media (min-width: 1200px) {
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 { float: left }
.col-lg-12 { width: 100% }
.col-lg-11 { width: 91.66666667% }
.col-lg-10 { width: 83.33333333% }
.col-lg-9 { width: 75% }
.col-lg-8 { width: 66.66666667% }
.col-lg-7 { width: 58.33333333% }
.col-lg-6 { width: 50% }
.col-lg-5 { width: 41.66666667% }
.col-lg-4 { width: 33.33333333% }
.col-lg-3 { width: 25% }
.col-lg-2 { width: 16.66666667% }
.col-lg-1 { width: 8.33333333% }
}


/* 文本 */
.text-algin-m{ text-align:center;}