/* »ÒÉ«Öµ */
@greyLighter: #f1f1f1;
@greyLight: #ddd;
@grey: #ccc;
@greyDark: #666;
@greyDarker: #000;

body {
  background: url(../../images/common/texture.jpg) @defaultLighter;
}

.default-background {
  background-color: @default;
}

.darker-background {
  background-color: @greyDarker;
}

.default-border {
  border-color: @default;
}

/* content */

.page-title {

  color:@greyDark;
}

.panel {

  border: 1px solid @defaultLighter;

  background: #fff;
}

.panel-title {

  color: @greyDark
}

.panel-title i {

  color: @greyLight;

}

.panel-dom span {
  color: @greyDark;
}

.foot {

  background: #fff;
  border-top: 1px solid @defaultLighter;

  color: @greyDark;
}


