
.menu-icon span {
  background: #fff;
}
.menu-icon span:after,
.menu-icon span:before {
  background: #fff;
}
.menu {
  background: #fff;
}
.left-nav li {
  border-bottom: solid 1px @defaultLighter;
}
.left-nav li i {
  color: @grey - #222;
}
.level-one {
  color:  @greyDark;
}

.left-nav li ul li a:hover,.left-nav li ul li a:hover i {
  color:@default;
}
.left-nav li ul li a {
  color:@grey - #333;
}
/*×ó²à²Ëµ¥½¹µã*/

.left-nav .level-one-foc,.left-nav .level-one-foc i,.left-nav .level-two-foc a,.level-two-foc a i{
  color:@default;
}
.left-nav .level-two-foc{ background: @greyLighter;}